/* Desktops and larger screens */
@media only screen and (min-width: 1281px) {
  /* Styles for devices with width 1281px and above */
}

/* Tablets (landscape mode) */
@media only screen and (max-width: 1024px) {
  /* Styles for devices with width between 769px and 1024px */
  .page-padding {
    padding: 30px 50px;
  }
  #page-header {
    width: 100%;
    height: 100px;
    padding: 30px 0 30px 80px;
  }
  #page-header header {
    position: relative;
    justify-content: space-between;
  }
  #page-header header nav {
    display: none;
  }
  #page-header header nav.hidden {
    display: block;
    position: fixed;
    text-align: center;
    right: 0;
    top: 0;
    width: 30%;
    height: 100%;
    background: rgb(101, 101, 232);
    color: white;
    padding-top: 30px;
  }
  #page-header header nav ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  #page-header header nav ul button#close {
    position: relative;
    right: 50px;
  }
  #page-header header nav ul li {
    color: white;
    font-size: 15px;
  }
  #page-header header nav ul li:hover {
    color: white;
  }
  header #menu-toggle {
    display: block;
    position: relative;
    left: -25px;
    z-index: 999;
  }
  header #cv-button {
    font-size: 15px;
    width: 130px;
  }
  #hero-content .hero-content-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    gap: 10px 30px;
    width: 47%;
  }
  #services .services-details-container {
    flex-wrap: wrap;
    row-gap: 40px;
  }
  .services-details-container .service-type {
    width: 45%;
  }
  #contact-me {
    row-gap: 20px;
  }
  #contact-me form .input-data {
    display: flex;
    flex-direction: column;
  }
  #contact-me form .input-data input {
    width: 600px;
  }
  #contact-me form#contact-me-form .textarea-div textarea {
    width: 400px;
  }
}

/* Tablets (portrait mode) */
@media only screen and (max-width: 768px) {
  /* Styles for devices with width between 481px and 768px */
  header #cv-button {
    font-size: 12px;
    width: 100px;
    padding: 8px;
  }
  #page-header header nav.hidden {
    width: 30%;
  }
  #page-header header nav ul li {
    font-size: 12px;
  }
  #hero-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0;
  }
  .hero-content-left .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .hero-content-left .info h5 {
    font-size: 20px;
  }
  #hero-content .hero-content-left p {
    color: grey;
    font-size: 12px;
  }
  #hero-content .hero-content-right img {
    width: 150px;
    height: 150px;
  }
  .buttons > .button-btn {
    padding: 8px;
    font-size: 12px;
    width: 80px;
  }
  #about-me .about-me-info h3 {
    font-size: 25px;
  }
  #about-me .about-me-info p {
    font-size: 12px;
  }
  #about-me .social-media {
    display: flex;
    flex-direction: column;
    width: 47%;
    padding: 10px 20px;
    gap: 10px;
  }
  #about-me .social-media h2 {
    font-size: 25px;
  }
  #about-me .social-media p {
    font-size: 12px;
  }
  .social-media .social-media-links i {
    color: gray;
    font-size: 15px;
    padding: 5px;
    background: rgba(241, 241, 243, 0.747);
    border-radius: 50px;
  }
  #services h5 {
    font-size: 15px;
  }
  #services #main {
    font-size: 25px;
  }
  #services p {
    font-size: 12px;
  }
  .services-details-container .service-type i {
    font-size: 20px;
    color: white;
    border-radius: 50%;
    padding: 10px;
    background: rgb(101, 101, 232);
  }
  #contact-me h3 {
    font-size: 15px;
  }
  #contact-me h2 {
    font-size: 25px;
  }
  #contact-me p {
    font-size: 12px;
  }
  #contact-me form .input-data input {
    width: 400px;
  }
  #contact-me form#contact-me-form .input-data input::placeholder {
    font-size: 12px;
  }
  #contact-me form#contact-me-form textarea::placeholder {
    font-size: 12px;
  }
  #contact-me form textarea {
    width: 400px;
  }
  #contact-me
    form#contact-me-form
    .contact-me-btn-container
    button#contact-me-btn {
    width: 120px;
    height: 40px;
    font-size: 12px;
  }
}
/* Smartphones (portrait and landscape) */
@media only screen and (max-width: 480px) {
  #hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  #hero-content .hero-content-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 30px 50px;
    width: 100%;
  }
  /* .hero-content-left .info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
  } */

  #hero-content .hero-content-right {
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
  }
  #hero-content .hero-content-right .hero-image-container {
    display: flex;
    align-self: center;
    justify-content: center;
  }
  #about-me {
    padding: 0;
  }
  #about-me .about-me-info {
    align-items: flex-start;
    justify-content: flex-start;
    padding: 30px 50px;
    width: 100%;
  }
  #about-me .social-media {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 30px 50px;
    gap: 10px;
  }
  .buttons {
    display: flex;
    flex-direction: row;
    gap: 70px;
    margin-top: 20px;
  }
  #about-me {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
  }
  #services {
    gap: 20px;
  }
  .services-details-container .service-type {
    width: 100%;
  }
  #contact-me {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #contact-me h2 {
    font-size: 25px;
    text-align: center;
  }
  #contact-me p {
    text-align: center;
  }
  #contact-me form#contact-me-form .input-data input {
    width: 70vw;
    height: 20px;
  }
  #contact-me form#contact-me-form .textarea-div textarea {
    width: 70vw;
    height: 80px;
  }
  #contact-me
    form#contact-me-form
    .contact-me-btn-container
    button#contact-me-btn {
    width: 100px;
    height: 30px;
    font-size: 12px;
  }
}

/* Smartphones (portrait and landscape) */
/* @media only screen and (max-width: 480px) {
  Styles for devices with a max-width of 480px

  .page-padding {
    padding: 30px 10px;
  }
  #page-header {
    width: 100%;
  }
  #page-header header {
    position: relative;
    justify-content: space-between;
    gap: 20px;
  }
  #page-header header nav {
    display: none;
  }
  #page-header header nav.hidden {
    display: block;
    position: fixed;
    text-align: center;
    left: -50px;
    top: 0;
    width: 50%;
    height: 100%;
    background: rgb(101, 101, 232);
    color: white;
    padding-top: 30px;
  }
  #page-header header nav ul {
    display: flex;
    flex-direction: column;
  }
  #page-header header nav ul button#close {
    position: relative;
    right: -100px;
  }
  #page-header header nav ul li:hover {
    color: white;
  }
  header #menu-toggle {
    display: block;
    position: relative;
    left: 0;
    z-index: 1001;
  }
  header h2 {
    font-size: 30px;
  }
  header #cv-button {
    padding: 15px;
    font-size: 15px;
    width: 130px;
  }
  #hero {
    width: 100%;
    padding-top: 150px;
  }
  #hero-content {
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  #hero-content .hero-content-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    gap: 10px 30px;
    width: 100%;
  }
  .hero-content-left .info h5 {
    font-size: 15px;
    color: rgb(80, 80, 212);
  }
  #hero-content .hero-content-left p {
    color: grey;
    font-size: 12px;
  }
  #hero-content .hero-content-left p.description {
    display: flex;
    flex-wrap: wrap;
  }
} */
