/* Smartphones (portrait and landscape) */
@media only screen and (max-width: 480px) {
  /* Styles for devices with a max-width of 480px */

  #page-header {
    width: 100%;
  }
  #page-header header {
    position: relative;
  }
  #page-header header nav {
    display: none;
  }
  #page-header header nav.hidden {
    display: block;
    position: fixed;
    text-align: center;
    left: -50px;
    top: 0;
    width: 50%;
    height: 100%;
    background: rgb(101, 101, 232);
    color: white;
    padding-top: 30px;
  }
  #page-header header nav ul {
    display: flex;
    flex-direction: column;
  }
  #page-header header nav ul button#close {
    position: relative;
    right: -100px;
  }
  #page-header header nav ul li:hover {
    color: white;
  }
  header #menu-toggle {
    display: block;
    position: relative;
    left: 0;
    z-index: 1001;
  }
  header h2 {
    font-size: 30px;
  }
  .page-padding {
    padding: 30px 20px;
  }
  header #cv-button {
    padding: 15px;
    font-size: 15px;
    width: 150px;
  }
  #hero {
    width: 100%;
  }
  #hero-content {
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  #hero-content .hero-content-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    gap: 10px 30px;
    width: 100%;
  }
}
