* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Roboto", sans-serif;
}
p {
  line-height: 1.6;
  color: gray;
}
header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  align-items: center;
  padding: 30px 100px;
  background-color: rgba(255, 255, 255, 0.959);
  position: fixed;
  z-index: 1000;
}
header h2 {
  font-size: 50px;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
header nav li {
  list-style-type: none;
  font-size: 20px;
  font-weight: 600px;
  cursor: pointer;
  transition: 0.3s;
}
header nav li:hover {
  color: rgb(101, 101, 232);
}
header #cv-button {
  background-color: rgb(101, 101, 232);
  padding: 15px;
  border: none;
  color: white;
  font-size: 20px;
  font-weight: 300;
  width: 200px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
header #cv-button:hover {
  box-shadow: 2px 3px 3px 3px rgb(233, 231, 231);
}
#hero {
  padding-top: 100px;
}
#hero-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
#hero-content .hero-content-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 100px;
  gap: 10px 30px;
  width: 47%;
}
.hero-content-left .info {
  display: flex;
  align-items: center;
}
.hero-content-left .info h5 {
  font-size: 30px;
  color: rgb(80, 80, 212);
}
#hero-content .hero-content-left h1 {
  font-size: 50px;
}
#hero-content .hero-content-left p {
  color: grey;
  font-size: 20px;
}
#hero-content .hero-content-left p span {
  color: black;
  font-weight: 600;
}
#hero-content .hero-content-left img {
  width: 50px;
  height: 50px;
  font-weight: weight;
}
#hero-content .hero-content-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  width: 47%;
}
#hero-content .hero-content-right img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}
.buttons {
  display: flex;
  flex-direction: row;
  gap: 80px 30px;
  margin-top: 20px;
}
.buttons > .button-btn {
  padding: 15px;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
  width: 120px;
  transition: 0.3s;
}
.buttons > .button-btn:hover {
  box-shadow: 1px 2px 2px 2px rgb(233, 231, 231);
}
.buttons > #contact-me-btn {
  background-color: rgb(101, 101, 232);
}
.buttons > #learn-more-btn {
  background-color: rgb(3, 3, 12);
}
#about-me {
  display: flex;
  justify-content: space-between;
  padding: 30px 100px;
  gap: 20px;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
}
#about-me .about-me-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 47%;
}
#about-me .about-me-info h2 {
  color: rgb(101, 101, 232);
  font-size: 15px;
  font-weight: 500;
}
#about-me .about-me-info h3 {
  font-size: 40px;
}
#about-me .about-me-info a {
  color: blue;
}
#about-me .social-media {
  display: flex;
  flex-direction: column;
  width: 47%;
  padding: 10px 20px;
  gap: 30px;
}
#about-me .social-media h2 {
  font-size: 40px;
}
.social-media .social-media-links {
  display: flex;
  gap: 20px;
}
.social-media .social-media-links i {
  color: gray;
  font-size: 20px;
  padding: 10px;
  background: rgba(241, 241, 243, 0.747);
  border-radius: 50px;
}
.social-media .social-media-links i:hover {
  background-color: rgba(46, 46, 229, 0.772);
  color: white;
}
#services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 30px 100px;
  gap: 30px;
  margin-top: 50px;
  margin-bottom: 100px;
}
#services h5 {
  font-size: 25px;
  color: rgb(101, 101, 232);
}
#services #main {
  font-size: 40px;
}
#services .services-details-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 70px;
  width: 100%;
}
.services-details-container .service-type {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 23%;
  height: 250px;
  padding: 20px;
  gap: 20px;
  box-shadow: 1px 1px 1px 1px rgb(172, 170, 170);
  border-radius: 5px;
  transition: 0.3s;
}
.services-details-container .service-type:hover {
  background: rgb(101, 101, 232);
  box-shadow: none;
  border: none;
}
.services-details-container .service-type:hover i {
  color: rgb(101, 101, 232);
  background: white;
}
.services-details-container .service-type:hover h2 {
  color: white;
}
.services-details-container .service-type:hover p {
  color: white;
}
.services-details-container .service-type i {
  font-size: 30px;
  color: white;
  border-radius: 50%;
  padding: 20px;
  background: rgb(101, 101, 232);
}
.service-type .service-info h2 {
  font-size: 15px;
  font-weight: 700;
}
.service-type .service-info p {
  margin-top: 10px;
  font-size: 15px;
  font-size: 700;
}
#contact-me {
  padding: 30px 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#contact-me h3 {
  color: rgb(101, 101, 232);
  font-size: 25px;
}
#contact-me h2 {
  font-size: 40px;
}
#contact-me form .input-data {
  display: flex;
}
#contact-me form .input-data input {
  width: 400px;
  height: 50px;
  margin: 0 20px 30px;
  background: rgba(238, 236, 236, 0.977);
  border: none;
  border-bottom: 0px solid transparent;
  outline: none;
  padding: 20px;
  transition: border-bottom 0.3s;
}
#contact-me form .input-data input::placeholder {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}
#contact-me form .input-data input:focus {
  border-bottom: 2px solid rgb(101, 101, 232);
}
#contact-me form textarea {
  background: rgba(209, 206, 206, 0.342);
  width: 840px;
  height: 100px;
  border: none;
  border-bottom: 0px solid transparent;
  outline: none;
  padding: 20px;
  transition: border-bottom 0.3s;
  font-family: "Roboto", sans-serif;
}
#contact-me form textarea:focus {
  border-bottom: 2px solid rgb(101, 101, 232);
}
#contact-me form textarea::placeholder {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}
#contact-me .contact-me-btn-container {
  margin-top: 50px;
}
#contact-me .contact-me-btn-container #contact-me {
  width: 60px;
  height: 40px;
  background: rgb(101, 101, 232);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
